body {
  font-family: 'Poppins', sans-serif;
}

/************** KAD HEADER STYLES **************/

.kad-header {
  background-color: #FEF6EF;
  border-bottom: 1px inset #e2e8f0; /* #FF984A; */
  box-shadow: 0 0 5px 0px #e2e8f0;
}

.kad-header-transparent {
  color: #3F3D56;
}

.kad-header-transparent .kad-link {
  color: #3F3D56;
}

.kad-header {
  padding-left: 10%;
  padding-right: 10%;
}

.kad-nav-extras {
  position: absolute;
  right: 10%;
}

.kad-header-logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.kad-header-logo a {
  text-decoration: none;
}

.kad-nav-extras .kad-nav-button {
  background-color: #FF984A;
  border-color: #FEF6EF;
  color: #FEF6EF;
}


/************** TOP SECTION STYLES **************/

#top-section {
  background-color: #FEF6EF;
  color: #3F3D56;
  padding: 5% 10%
}

.top-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.top-text {
  margin: 3rem 0 1.5rem;
}

.top-description {
  line-height: 2;
}

.img-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-img {
  position: relative;
  left: 10%;
  top: -30%;
}

.btn-container {
  align-self: flex-start;
}

.btn-container .btn {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-container .btn-fill {
  background-color: #ff7a59;
  color: #FFF;
  border-color: #FFF;
}

.btn-container .btn-transparent {
  background-color: transparent;
  color:  #ff7a59;
  border-color: #ff7a59;
}



/************** FEATURES SECTION STYLES **************/

#features-section {
  padding:5% 7% 7%;
} 

.feature-box {
  padding: 3% 3%;
}

.feature-box .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10rem;
} 

.img-container .feature-icon {
  width: 50%;
}

.img-container .icon-1 {
  width: 35%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.text-container p {
  line-height: 2;
  color: rgb(105, 99, 99);
}

/************** MORE-FEATURES SECTION STYLES **************/

#more-features {
  background-color: #eef1f5;
  padding: 5% 7%;
}

#more-features .img-container {
  display: flex;
}

#more-features .img-container .single-mock {
  width: 50%;
}

.icon-listing {
  display: flex;
  flex-direction: column;
  padding: 6% 0;
}

.icon-list-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon-list-box .feature-list-text {
  padding: 2% 5% 0;
}

.icon-list-box .feature-list-text h4, .feature-list-icon {
  color: #FF7A59
}

.icon-list-box .feature-list-text p {
  font-size: 0.9rem;
  color: #3F3D56;
}